/*this is the first page settings*/
body {
    background-image: url(b.jpg);
    background-size: 40vw 50vh;
    background-position: center;
}
.title {
    grid-column: 2;
    grid-row: 1;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    font-family: impact, fantasy;
    -webkit-text-stroke: 1px rgb(59, 59, 59);
    font-weight: bolder;
    width: 1159px;
    animation: grow 1s forwards;
}
@keyframes grow {
    from {
        font-size: 200%;
        filter: blur(20px);
    }
    to {
        font-size: 300%;
        filter: blur(0px);
    }
}
#page1 {
    display: block;
    animation: grow1 1s forwards;
    justify-content: center;
    align-items: center;
}
@keyframes grow1 {
    from {filter: blur(20px);}
    to {filter: blur(0px);}
}
#line11 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
#line12 {
    display: flex;
    justify-content: center;
    align-items: start;
}
#box1 {
    order: 2;
    flex: 0 0 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family:Arial, sans-serif;
    font-weight: 800;
    font-size: large;
    width: 400px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: left;
    justify-content: center;
    transition: all 0.5s ease;
}
#button1 {
    display: flex;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: -80px;
    width: 110px;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
#b1 {
    background: none;
    border: none;
    font-size: small;
    font-family: Arial, sans-serif;
    font-weight: 800;
    color: gray;
}
#pic1 {
    order: 1;
    width: 350px;
    height: 300px;
    justify-self: start;
}
#pic2 {
    order: 3;
    width: 250px;
    height: 300px;
    justify-self: end;
}
#button1:hover {
    transform: scale(1.2);
}
#button1:active {
    transform: scale(0.8);
}
#box1:hover {
    transform: scale(1.2);
}
#box1:active {
    transform: scale(0.8);
}

/*this is the second page settings*/
#page2 {
    display: none;
    justify-content: center;
    align-items: center;
}
#line21 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
#line22 {
    display: flex;
    justify-content: center;
    align-items: start;
}
#box2 {
    order: 1;
    flex: 0 0 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: large;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
    width: 300px;
    height: auto;
    text-align: left;
    transition: all 0.5s ease;
}
#button2 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    margin: auto;
    margin-top: -35px;
    position: relative;
    right: 155px;
    border-radius: 15px;
    width: 125px;
    height: 30px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
#b2 {
    background: none;
    border: none;
    font-size: small;
    font-family: Arial, sans-serif;
    font-weight: 800;
    color: gray;
}
#pic3 {
    order: 2;
    width: 300px;
    height: 300px;
    margin-top: -40px;
    justify-self: start;
}
#button2:hover {
    transform: scale(1.2);
}
#button2:active {
    transform: scale(0.8);
}
#box2:hover {
    transform: scale(1.2);
}
#box2:active {
    transform: scale(0.8);
}

/*this is the third page setting*/
#page3 {
    display: none;
    justify-content: center;
    align-items: center;
}
#line31 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
#line32 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#box3 {
    order: 2;
    flex: 0 0 300px;
    align-self: flex-start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: large;
    border-radius: 15px;
    padding: 20px;
    padding-top: 0px;
    width: 300px;
    height: auto;
    text-align: left;
    transition: all 0.5s ease;
}
#button3 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: large;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    margin: auto;
    margin-top: -70px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 118px;
    height: 30px;
    position: relative;
    right: -177px;
    transition: all 0.5s ease;
}
#b3 {
    background: none;
    border: none;
    font-size: small;
    font-family: Arial, sans-serif;
    font-weight: 800;
    color: gray;
}
#pic4 {
    width: 360px;
    height: 300px;
    align-items: end;
}
#button3:hover {
    transform: scale(1.2);
}
#button3:active {
    transform: scale(0.8);
}
#box3:hover {
    transform: scale(1.2);
}
#box3:active {
    transform: scale(0.8);
}

/*this is the fourth page*/
#page4 {
    display: none;
    justify-content: center;
    align-items: center;
}
#line41 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
#line42 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#box4 {
    order: 1;
    flex: 0 0 200px;
    align-self: flex-start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: large;
    border-radius: 15px;
    padding: 20px;
    padding-top: -0px;
    width: 200px;
    height: auto;
    text-align: left;
    transition: all 0.5s ease;
}
#button4 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    margin: auto;
    margin-top: -120px;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 140px;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    transition: all 0.5s ease;
}
#b4 {
    background: none;
    border: none;
    font-size: small;
    font-family: Arial, sans-serif;
    font-weight: 800;
    color: gray;
}
#pic5 {
    order: 2;
    width: 360px;
    height: 300px;
    align-items: start
}
#button4:hover {
    transform: scale(1.2);
}
#button4:active {
    transform: scale(0.8);
}
#box4:hover {
    transform: scale(1.2);
}
#box4:active {
    transform: scale(0.8);
}

/*this is the last page setting*/
#page2 {
    display: none;
    justify-content: center;
    align-items: center;
}
#line51 {
    display: flex;
    justify-content: center;
    align-items: center
}
#box5 {
    order: 2;
    flex: 0 0 100px;
    background-color: white;
    color: gray;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Impact, fantasy;
    font-weight: 400;
    font-size: xx-large;
    padding: 20px;
    padding-top: -0px;
    text-align: left;
    animation: grow-x 0.5s forwards;
    transition: all 0.5s ease;
}
@keyframes grow-x {
    from {
        width: 100px;
        height: 30px;
        filter: blur(20px);
    }
    to {
        width: 275px;
        height: auto;
        filter: blur(0px);
    }
}
#button5 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    margin: auto;
    margin-top: -120px;
    position: relative;
    left: 220px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    transition: all 0.5s ease;
}
#b5 {
    background: none;
    border: none;
    font-size: small;
    font-family: Arial, sans-serif;
    font-weight: 800;
    color: gray;
}
#pic6 {
    order: 1;
    width: 450px;
    height: 450px;
    align-items: start;
}
#button5:hover {
    transform: scale(1.2);
}
#button5:active {
    transform: scale(0.8);
}
#box5:hover {
    transform: scale(1.2);
}
#box5:active {
    transform: scale(0.8);

}
@font-face {
  font-family: 'Impact';
  src: url('./fonts/impact.woff2') format('woff2'),
       url('./fonts/impact.woff') format('woff');
  font-display: swap;
}

