/*this is the first page settings*/
body {
    background-image: url(b.avif);
    background-size: 300px;
    background-position: center;
}
.title {
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    font-family: impact, fantasy;
    -webkit-text-stroke: 1px rgb(59, 59, 59);
    font-weight: 900;
    word-spacing: 0.5px;
    letter-spacing: 0.5px;
    animation: grow 1s forwards;
}
@keyframes grow {
    from {
        font-size: 30px;
        filter: blur(20px);
    }
    to {
        font-size: 42px;
        filter: blur(0px);
    }
}
#page1 {
    animation: grow1 1s forwards;
}
@keyframes grow1 {
    from {filter: blur(20px);}
    to {filter: blur(0px);}
}
#box1 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: small;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 120px;
    text-align: left;
    transition: all 0.5s ease;
}
.text1 {
    display: flex;
    position: relative;
    top: -20px;
}
.text2 {
    display: flex;
    position: relative;
    top: -20px;
}
#buttom1 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    margin: auto;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
#pic1 {
    position: relative;
    right: -20px;
    bottom: 250px;
    width: 360px;
    height: 490px;
    align-items: right;

}
#pic2 {
    position: relative;
    bottom: 420px;
    left: 130px;
    width: 270px;
    height: 270px;
    align-items: left;
}
#buttom1:hover {
    transform: scale(1.2);
}
#buttom1:active {
    transform: scale(0.8);
}
#box1:hover {
    transform: scale(1.2);
}
#box1:active {
    transform: scale(0.8);
}

/*this is the second page settings*/
#box2 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: small;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 120px;
    text-align: left;
    position: relative;
    left: 110px;
    transition: all 0.5s ease;
}
#buttom2 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 118px;
    height: 30px;
    position: relative;
    left: 180px;
    transition: all 0.5s ease;
}
#b2 {
    position: relative;
    top: 7px;
}
#pic3 {
    position: relative;
    bottom: 270px;
    left: 300px;
    width: 360px;
    height: 490px;
    align-items: right
}
#pic4 {
    position: relative;
    bottom: 430px;
    left: 130px;
    width: 230px;
    height: 350px;
    align-items: right
}
#buttom2:hover {
    transform: scale(1.2);
}
#buttom2:active {
    transform: scale(0.8);
}
#box2:hover {
    transform: scale(1.2);
}
#box2:active {
    transform: scale(0.8);
}

/*this is the third page setting*/
#box3 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: small;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 120px;
    text-align: left;
    position: relative;
    left: 400px;
    transition: all 0.5s ease;
}
#buttom3 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 118px;
    height: 30px;
    position: relative;
    left: 460px;
    transition: all 0.5s ease;
}
#b3 {
    position: relative;
    top: 7px;
}
#pic5 {
    position: relative;
    bottom: 290px;
    left: 50px;
    width: 360px;
    height: 300px;
    align-items: right
}
#buttom3:hover {
    transform: scale(1.2);
}
#buttom3:active {
    transform: scale(0.8);
}
#box3:hover {
    transform: scale(1.2);
}
#box3:active {
    transform: scale(0.8);
}

/*this is the fourth page*/
#box4 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    background-color: white;
    color: gray;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: small;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 120px;
    text-align: left;
    position: relative;
    left: 180px;
    transition: all 0.5s ease;
}
#buttom4 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 118px;
    height: 30px;
    position: relative;
    left: 240px;
    transition: all 0.5s ease;
}
#b4 {
    position: relative;
    top: 6.5px;
}
#pic6 {
    position: relative;
    bottom: 290px;
    left: 380px;
    width: 360px;
    height: 490px;
    align-items: right
}
#buttom4:hover {
    transform: scale(1.2);
}
#buttom4:active {
    transform: scale(0.8);
}
#box4:hover {
    transform: scale(1.2);
}
#box4:active {
    transform: scale(0.8);
}

/*this is the last page setting*/
#box5 {
    -webkit-text-stroke: 1px rgb(59, 59, 59);
    text-shadow: 5px 5px 5px black;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 800;
    font-size: 50px;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 120px;
    text-align: left;
    position: relative;
    left: 400px;
    animation: grow-x 1s forwards;
}
@keyframes grow-x {
    from {
        font-size: 30px;
        filter: blur(20px);
    }
    to {
        font-size: 42px;
        filter: blur(0px);
    }
}
#buttom5 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.567);
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    background-color: white;
    color: gray;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    width: 118px;
    height: 30px;
    position: relative;
    top: 120px;
    left: 430px;
    transition: all 0.5s ease;
}
#b5 {
    position: relative;
    top: 6.5px;
}
#pic7 {
    position: relative;
    bottom: 290px;
    width: 420px;
    height: 490px;
}
#buttom5:hover {
    transform: scale(1.2);
}
#buttom5:active {
    transform: scale(0.8);
}